<% include partials/header %>

<div class="container">
    <h2><%=user.title %></h2>
    <img src="<%= user.image %>">
    <br>
    <hr>
    <p><%= user.desc %></p>
    <hr>
</div>

<% include partials/footer%>