<% include partials/header %>
<div class="container">
<form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your email address" name="email">
  </div>

  <div class="form-group">
    Seller ?<input type="checkbox" class="form-control" id="exampleFormControlInput1" name="isseller">
  </div>

  <div class="form-group">
    Buyer ?<input type="checkbox" class="form-control" id="exampleFormControlInput1" name="isbuyer">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="username" name="username">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">password</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="password" name="password">
  </div>
  
   <button type="submit" class="btn btn-primary mb-2">SignUp</button>
  
</form>
</div>
<% include partials/footer %>